<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>Login | TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2>Login</h2>
  <% if (restrictedAction === true) { %>
  <h6 class ="warning">Error: You must be logged in to do that. If you don't have an account, <a href="/register">please register</a>.</h6>
  <% } %>
  <form action="/login" method="POST" class="center">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <button type="submit">Log Me In!</button>
    </div>
  </form>
</body>
</html>