<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>Make An Account | TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2>Sign Up</h2>
  <form action="/register" method="POST" class="center">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <button type="submit">Finish Signup</button>
    </div>
  </form>
</body>
</html>