<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Short URL | TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2><%= shortURL %></h2>
  <h5>Long Version:</h5>
  <p><%= longURL %></p>
  <h5><a href="/urls/new">Shorten More!</a> | <a href="/urls/">View All</a></h5>
</body>
</html>