<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>New URL | TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <h2>Create Tiny URL</h2>
  <form class="center" action="/urls" method="POST">
    <div>
      <label for="longURL">Enter a URL:</label>
      <input type="url" name="longURL" placeholder="http://">
      <button type="submit">Submit</button>
    </div>
  </form>
</body>
</html>