* {
  font-family: 'Work Sans', sans-serif;
}

p {
  color: #494b4b;
}

h1, h2, h3, h4, h5, h6 {
  color: #0e5135;
}

a, a:visited {
  color: #0d9263;
  transition: color 0.5s ease;
}

a:hover {
  color: #4aba91;
}
